body {
    overflow: hidden;
}
#game-area {
    width: 500px;
    height: 400px;
    position: relative;
    background-color: #87CEEB;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
  }
  
  #bird {
    width: 50px;
    height: 50px;
    background-color: #FFFF00;
    position: absolute;
    bottom: 100px;
    left: 50px;
    transition: 75ms linear;
  }
  
  .pipe-top {
    width: 50px;
    height: 110px;
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #7CFC00;
    z-index: 0;
  }
  
  
 
  .pipe-bottom {
    width: 50px;
    height: 110px;
    background-color: #7CFC00;
    position: absolute;
    right: 0px;
    bottom: 0px;
    

  }
  #top2{
    background-color: black;
  }
  
  #bottom2{
    background-color: black;
  }
  #point-counter {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    left: 48%;
    z-index: 1;
    position: fixed;
 
  }
