body {
  overflow: hidden;
}

#game-area {
  width: 500px;
  height: 400px;
  position: relative;
  background-color: #87ceeb;
  background-image: url("assets/back.png");
  margin: 50px auto;
  overflow: hidden;
  text-align: center;
}

#bird {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50px;
  transition: 75ms linear;
  background: url("assets/flappy sprite.png");
  background-position: center;
}

.pipe-top {
  width: 50px;
  height: 110px;
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #6bd303;
  z-index: 0;
  background-image: url("assets/pipe.png");
  background-position: center -40px;
  background-repeat: no-repeat;
  transform: scaleY(-1);
  border-radius: 10px 10px 0px 0px;
}

.pipe-bottom {
  width: 50px;
  height: 110px;
  background-color: #6bd303;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url("assets/pipe.png");
  background-position: center -39px;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0px 0px;
}

#point-counter {
  color: white;
  font-family: "pixelFont";
  font-size: 50px;
  left: 48%;
  z-index: 1;
  position: fixed;
  user-select: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#gameoverText {
  color: white;
  font-family: "pixelFont";
  font-size: 120px;
  z-index: 1;
  opacity: 0;
  user-select: none;
  position: relative;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  pointer-events: none;
}

#restartbtn {
  position: absolute;
  height: 50px;
  width: 100px;
  top: 75%;
  left: 40%;
  visibility: hidden;
  font-family: "pixelFont";
  border-width: 5px;
  border-color: yellow;
  background-color: yellow;
  border-style: none;
  border-radius: 10px;
  box-shadow: 4px 4px 4px black;
  user-select: none;
  font-size: 20px;
}

@font-face {
  font-family: pixelFont;
  src: url("assets/upheavtt.ttf");
}

@-webkit-keyframes scroll-left {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.scroll {
  animation: scroll-left 15s linear infinite;
}

#mute {
  height: 40px;
  width: 85px;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "pixelFont";
  border-width: 5px;
  border-color: yellow;
  background-color: yellow;
  border-style: none;
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  user-select: none;
  font-size: 20px;
}

/* Dropdown Button */
.dropbtn {
  height: 40px;
  width: 85px;
  background-color: #04AA6D;
  color: black;

  font-size: 20px;
  border: none;
  font-family: "pixelFont";
  background-color: yellow;
  user-select: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  top:70px;
  right: 20px;

 

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "pixelFont";
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}